{
  "plugins": [
//    "syntax-dynamic-import",
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
//      "presets": ["react-hmre"]
    }
  }
}
